.red-all li::before {
    color: red;
}

.blue-all li::before {
    color: blue;
}

li.red::before {
    color: red;
}

li.blue::before {
    color: blue;
}

.text-align-center {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.section {
    padding: 30px;
    width: 1100px;
    margin: 0 auto;
}

.section.lyrics {
    position: relative;
}

.section.hero {
    align-items: center;
    display: flex;
    justify-content: center;
    width: auto;
    height: 100vh;
    text-align: center;
    background: url(../images/jenniferlopez.jpg);
    background-color: antiquewhite;
    background-blend-mode: luminosity;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lyrics-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/jl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
}

.content h1 {
    margin: 0;
    text-align: center;
    color: #2D1507;
}

.content h1+p {
    margin-top: 100px;
}

.content p {
    text-align: center;
    font-size: 20px;
}

.content p+p {
    margin-top: 50px;
}

.link {
    padding: 1em 3em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #2D1507;
    box-shadow: 0 5px 0 rgb(190, 151, 119);
    color: white;

}

.link:hover {
    background-color: rgb(136, 58, 13);
    cursor: pointer;
}

.hero-title {
    display: block;
    font-size: 100px;
    text-shadow: 2px 2px white;
    color: rgb(92, 74, 40);
}

.section.features {
    text-align: center;
    background-color: rgb(175, 126, 67);
}

.section-title {
    margin: 0;
    color: #2D1507;
    font-size: 30px;
    font-weight: 800;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 25px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
    margin: 30px;
    text-align: center;
    background-color: bisque;
    transition: all .5s;
}

.card-icon {
    width: 50%;
    padding-top: 20px;
    transition: all .5s;
}

.card-title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    transition: color 1s ease-in-out;
}

.card:hover .card-title {
    color: red;
}

.card:hover {
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, .5);
    transform: scale(1.1);
}

.card:hover .card-icon {
    fill: green;
    stroke: red;
    stroke-width: 10;
}

.section.three-block {
    text-align: center;
}

.two-col-blocks {
    display: flex;
    padding: 30px;
    height: 450px;
}

.two-col-blocks>* {
    width: 50%;
}

.block-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.block-img img {
    max-width: 100%;
    width: 100%;
}

.block-text {
    padding: 40px;
}

.content h3+p {
    padding: 30px;
}

.two-col-blocks:nth-child(2n+1) {
    flex-direction: row-reverse;
}


.list {
    list-style: none;
    padding: 0;
}

.list li {
    padding-left: 1.3em;
}

.list li:before {
    font-family: 'Font Awesome 5 Free';
    content: '';
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    font-weight: 900;
    font-size: 20px;
}

.list.check li:before {
    content: '\f00c';
}

.list.check-circle li:before {
    content: '\f058';
}

.height {
    height: 200px;
}

.ckecked-section {
    text-align: center;
}

.full-width {
    width: 100vw;
}

.one-col-block {
    padding: 30px;
}

.btn {
    display: block;
    margin: 0 auto;
}

.img-wrapper {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin: 100px;
}


.img-wrapper.deco::before,
.img-wrapper.deco::after {
    position: absolute;
    content: '';
    z-index: -1;
    width: 100px;
    height: 100px;
    background: blue;
}

.img-wrapper.deco::before {
    top: -40px;
    left: -40px;
}

.img-wrapper.deco::after {
    bottom: -40px;
    right: -40px;
}

/* .header {
    position: fixed;
} */

nav {
    height: 50px;
    background-color: #333;
    position: fixed;
    width: 100%;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
  }

nav>ul>li {
    display: inline-block;
    margin: 0 30px;
  }

  nav>ul>li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }